h1{
    text-align: center;
    color: rgb(56, 58, 58);
}

.input_dati{
    text-align: center;
}
.input_dati1{
    text-align: center;
}

#campi{
    text-align: center;
}

table {
    
    width: 95%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    margin-left: 50px;
}

th {
    background-color: #008cff;
    color: rgb(255, 255, 255);
    padding: 5px;
    text-align: center;
}

td {
    padding: 5px;
    border: 1px solid #ddd;
    text-align: center;
}

tr {
    background-color: #f2f2f2;
    text-align: center;
}

input {
    text-align: center;
    background-color: #ddd;
    color: black;
    border: none;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#dinamico{
    text-align: center;
}

input[type="submit"]{
    text-align: center;
    background-color: #2499d4;
    color: white;
    border: none;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button{
    text-align: center;
    background-color: #2499d4;
    color: white;
    border: none;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}